.bar-container {
    width: 80%;
    max-width: 400px;
    background-color: gray;
    border-radius: 10px;
    height: 30px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
}

#hp-bar {
    height: 100%;
    background: linear-gradient(45deg, red, darkred);
    width: 100%;
    transition: width 0.5s ease-in-out;
}

#mp-bar {
    height: 100%;
    background: linear-gradient(45deg, blue, darkblue);
    width: 100%;
    transition: width 0.5s ease-in-out;
}

#ep-bar {
    height: 100%;
    background: linear-gradient(45deg, gold, darkgoldenrod);
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.bar-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: white;
}
